
.about-us-topsection{
    background-image:  url("images/cargo.jpg");
    display: block;
    background-size: cover;
    width: 100%;
    height: 450px;
} 
.about-us-topsection h1{
    color: rgba(255, 255, 255, 0.718);
    font-size: 48px;
    letter-spacing: 1.2px;
    padding-top: 90px;
    text-align: center;
}
.about-us-img{
    width: 100%;
    height: 450px;
}
#aboutus-heading{
    margin-top: 40px;
    color: rgba(49, 44, 44, 0.929);
    background-color: rgba(242, 242, 242, 0.7);
    width: 900px;
    font-family: poppins;
    font-size: 28px;
    margin-left: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.aboutus-para{
    margin: 20px 40px;
    padding-left: 20px;
    background-color: rgba(242, 242, 242, 0.7);
    color: rgba(49, 44, 44, 0.929);
    font-family: poppins;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 900px;
    border-radius: 5px;
    line-height: 30px;
    box-sizing: border-box;
}
.vision-mission-sec{
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 241);
    margin-top: 50px;
    width: 100%;
    height: 400px;
}
.vision-sec{
    display: block;
    align-items: center;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    font-family: poppins;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    box-shadow: 0 0 0em;
}
.vision-sec:hover{
    box-shadow: 0 0 1em rgba(255, 76, 5, 0.938);
    background-color: rgb(249, 245, 238);
    transition: 0.15s;
    /**transform: translateX(3px);**/
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
.vision-sec:hover .vision-para{
    color: rgba(255, 76, 5, 0.938);
    transition: 0.3s;
}
.vision-sec:hover #vision-heading{
    color: rgba(255, 76, 5, 0.938);
    transition: 0.3s;
}
#vision-heading{
    margin-top: 10px;
    color: rgba(49, 44, 44, 0.929);
    width: 90%;
    text-align: center;
    font-family: poppins;
    font-size: 28px;
    margin-left: 40px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.vision-para{
    margin: 10px 20px;
    padding-left: 10px; 
    font-family: poppins;
    color: rgba(49, 44, 44, 0.929);
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 90%;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}
.mission-sec{
    display: block;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 45%;
    height: 300px;
    border-radius: 8px;
    background-color: white;
    font-family: poppins;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    box-shadow: 0 0 0em;  
}
.mission-sec:hover{
    box-shadow: 0 0 1em rgba(255, 76, 5, 0.938);
    background-color: rgb(249, 245, 238);
    transition: 0.15s;
    /* transform: translateX(3px); */
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}
.mission-sec:hover #mission-heading{
    color: rgba(255, 76, 5, 0.938);
    transition: 0.3s;
}
.mission-sec:hover .mission-para{
    color: rgba(255, 76, 5, 0.938);
    transition: 0.3s;
}
#mission-heading{
    margin-top: 10px;
    color: rgba(49, 44, 44, 0.929);
    width: 45%;
    text-align: center;
    font-family: poppins;
    font-size: 28px;
    margin-left: 40px;
    padding-left: 35%;
    padding-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.mission-para{
    margin: 10px 20px;
    padding-left: 10px; 
    color: rgba(49, 44, 44, 0.929);
    font-family: poppins;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 90%;
    line-height: 30px;
    box-sizing: border-box;
    text-align: center;
}

/*   strenghts and advantages section */

.stregths-adv-sec{
    display: block;
    background-color: rgb(241, 243, 243);
    margin-top: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 0em;
    width: 100%;
    height: 780px;
    justify-content: center;
    align-items: center;
}
#strengths-heading{
    background-color: rgb(253, 253, 253);
    font-family: poppins;
    color: rgba(255, 76, 5, 0.938);
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    font-weight: 500;
    padding-top: 15px;
    padding-bottom: 15px;

}
#srtengths-para{
    background-color: rgb(253, 253, 253);
    font-family: poppins;
    color: rgba(49, 44, 44, 0.929);
    font-size: 40px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: center;
    margin-top: 10px;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 25px;
}
.adv-sec{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}
.adv-sec-sub-div{
    flex-wrap: wrap;
    background-color: rgb(253, 253, 253);
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 25px;
    width: 350px;
    height: 220px;
}
.adv-sec-sub-div:hover{
    /*    transform: translateX(5px);    */
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.1em 1em rgba(255, 76, 5, 0.938);
    transition: 0.1s;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    background-color: rgb(255, 255, 255);
}
.adv-sec-sub-div:hover #quality-material-para{
    color: rgba(49, 44, 44, 0.929);
    transition: 0.4s;
}
#quality-material img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 130px;
}
#quality-material-heading{
    font-family: poppins;
    font-size: 24px;
    color: rgba(49, 44, 44, 0.929);
    text-align: center;
    margin-bottom: 10px;
}
#quality-material-para{
    font-family: poppins;
    font-size: 18px;
    text-align: center;
    color: rgba(49, 44, 44, 0.929);
}