.contact-img-section{
    height: 400px;
    width: 100%;
}
.contact-img-container {
    background-image: url("images/contact-banner-new.png");
    height: 400px;
    width: 100%;   
    
}

.contact-img-sec-text{
    padding-top: 40px;
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 1.1px;
    color: rgba(88, 70, 67, 0.76);
    text-align: center;
} 
.contact-address-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 80px;
    padding-left: 30px;    
    padding-right: 30px;
    padding-bottom: 40px;
}
@media (max-width:600px) {
    .contact-address-section {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.contact-address-section p{
    display: flex;    
    font-family: poppins;
    font-size: 20px;
    color: rgba(49, 44, 44, 0.929);
}
@media (max-width: 600px) {
    .contact-address-section p{
        font-size: 16px;
    }
}
.reg-addr-sec-container, .ofc-addr-sec-container {    
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 5px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: rgba(242, 242, 242, 0.7);
}
.reg-addr-sec-container-heading, .ofc-addr-sec-container-heading {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}
.reg-addr-sec-container-heading h1, .ofc-addr-sec-container-heading h1{
    font-family: poppins;
    font-size: 36px;
    color: rgba(49, 44, 44, 0.8);
}
@media (max-width:600px) {
    .reg-addr-sec-container-heading h1 {
        font-size: 34px;
    }
}
.reg-addr-sec-container-loc, .reg-addr-sec-container-email, .reg-addr-sec-container-phone, .ofc-addr-sec-container-loc, .ofc-addr-sec-container-email, .ofc-addr-sec-container-phone {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

}
h6{
    display: flex;
    padding-right: 10px;
    font-family: poppins;
    font-size: 20px;
    color: rgba(49, 44, 44, 0.929);
}

.reg-addr-sec-container-phone, .ofc-addr-sec-container-phone {
    display: flex;
    justify-content: center;  

}

