*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    font-size: 16px;
    font-weight: 500;
}
body{
    background-color: rgb(253, 253, 253);
}
.nav-bar{
    height: 90px;
    margin-top: 50px;
    background-color: hsla(0, 0%, 100%, 0.93);
    opacity: 0.85;
    display: flex;
    flex-direction: row;    
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0px solid hsl(0, 37%, 93%);
    border-top: 2px solid hsl(0, 37%, 93%);
}
.nav-bar a{
    color: #0c0101;
    font-weight: 500;
}
.nav-logo{
    height: 92px;
    width: 100px;
    transform: translateX(80px);
}
.logo{
    background-image: url("images/Vaaraahi\ final\ logo\ orange.jpg");
    background-size: cover;    
    margin-left: -50px;
    height: 90px;
    width: 125px;
}
/* menu list */
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.menu-list > li{
    background-color: rgba(10, 9, 9, 0.781);
}
.menu-list li a:hover{
    color: #f83a00;
}
.menu-list .list-items li{
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 2px;   
    padding-right: 50px;
    border: none;
}
.list-items li{
    text-align: center;
    transition: 0.15s;
    
}
.list-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-list li:hover{
    background-color: hsla(0, 0%, 89%, 0.856);
    border: 0px;   
    transition: background-color 0.15s;    
}
a{
    text-decoration: none;
    color: rgba(255, 51, 0, 0.959);
    transition: 0.15s;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    padding-left: 50px;
}

/*------------------  top-bar  --------------*/
.top-bar{
    display: flex;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: hsla(17, 100%, 51%, 0.938);    
}
.top-bar-icon {
    display: flex;
    margin-left: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#top-bar-icon-1{
    display: inline;
    text-align: center;
    margin-top: 20px;
    margin: auto;
}
#top-bar-icon-1 i{
    color: azure;
    font-size: 17px;
}
#top-bar-icon-ph{
    display: inline;    
    font-weight: 530;
    text-align: center;
    margin: 15px;
    color: azure;
}
#top-bar-icon-ph p{
    font-family: Poppins, sans-serif;
    font-size: 16px;
    text-align: center;
}
#top-bar-icon-email{
    display: inline;    
    position: fixed;
    right: 20px;
    font-weight: 530;
    text-align: center;
    margin: 15px;
    color: azure;

}
#top-bar-icon-email{
    font-size: 16px;
}
.video-container{
    display: block;
    position: relative;
    width: 100%;
    height: 700px;
    margin-right: 0px;
    z-index: -1;
    object-fit: cover;
}
.video-container{
    width: 100%;
    height: auto;
}


/* --------homepage sub section ------*/


.homepage-aboutus-heading, .homepage-services-heading, .homepage-products-heading {
    margin-top: 60px;
    color: rgb(37, 35, 35);
    background-color: rgba(242, 242, 242, 0.7);
    color: rgba(49, 44, 44, 0.929);
    width: 900px;
    font-family: poppins;
    font-size: 28px;
    margin-left: 40px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.homepage-aboutus-para, .homepage-services-para, .homepage-products-para{
    margin: 20px 40px;
    padding-left: 20px;
    background-color: rgba(242, 242, 242, 0.7);
    color: rgba(49, 44, 44, 0.929);
    font-family: poppins;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 900px;
    border-radius: 5px;
    line-height: 30px;
    box-sizing: border-box;
}

/*--------footer section--------*/

.footersection{
    height: 400px;    
    border-top: 1px solid rgb(245, 229, 229);
    z-index: -2;
}
.footer-container{
    margin-top: 120px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.footer-logo{
    height: 150px;
   margin-left: -50px;
   margin-top: -5px;

}
.footer-logo img{
    height: 100px;
    margin-left: -20px;
    border-radius: 50%;
    background-color:rgba(242, 242, 242, 0.7);
}
.quicklinks{
    display: block;
}
.quicklinks ul{
    margin: 20px;
    margin-left: -5px;
}
.quicklinks ul li a{
    color: rgba(49, 44, 44, 0.929);
    font-weight: 500;
}
.quicklinks ul li a:hover{
    color: hsla(17, 100%, 51%, 0.938);
    transition: 0.3s;
}
.quicklinks ul li{
    display: block;
    padding: 8px;   
}
.footer-resources{
    display: block;
}
.footer-resources ul li{
    display: block;
    padding: 8px;
}
.footer-resources ul{
    margin-top: 20px;
}
.footer-resources ul li a{
    color: rgba(49, 44, 44, 0.929);
}
.footer-resources ul li a:hover{
    color: hsla(17, 100%, 51%, 0.938);
    transition: 0.3s;
}

/* ---------social media section--------*/

.socialmedia{
    display: block;
}
.socialmedia ul li{
    display: block;
}
.socialmedia ul{
    margin-top: 20px;
    margin-left: 32px;
}
.socialmedia ul li a{
    color: #0c0101;
}
.socialmedia ul li{
    padding:  22px;
}
.socialmedia ul li a i{
    height: 20px;
    width: 20px;;
}
#fa-youtube{
    background-color: rgb(221, 228, 228);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
}
#fa-youtube a{
    color: red;
}
#fa-youtube:hover{
    background-color: red;
    transition: color 0.4s;
}
#fa-youtube:hover a{
    color: white;
    transition: 0.4s;
}
#fa-x-twitter{
    background-color: rgb(221, 228, 228);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition: 0.4s;
}
#fa-x-twitter:hover{
    background-color: rgb(51, 46, 46);
    color: white;
    transition: 0.4s;
}
#fa-x-twitter:hover a{
    color: white;
}
#fa-linkedin{
    background-color: rgb(221, 228, 228);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition: 0.4s;
}
#fa-linkedin a{
    color: blue;
    transition: 0.4s;
}
#fa-linkedin:hover{
    background-color: rgb(33, 5, 158);
    transition: 0.4s;
}
#fa-linkedin:hover a{
    color: white;
    transition: 0.4s;
}
#fa-instagram{
    background-color: rgb(221, 228, 228);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition-timing-function: ease-in-out;
    transition: 0.4s;
}
#fa-instagram a{
    color: white
    transition: 0.4s;
}
#fa-instagram:hover{
    transition: 0.4s;
    background: linear-gradient(rgb(242, 115, 31), rgb(125, 5, 138));
}
#fa-instagram:hover a{
    color: linear-gradient(rgb(248, 85, 4), rgb(205, 8, 227));
}
.copywright{   
    height: 50px;
    box-sizing: border-box;
    box-shadow: 0 0 0.5em rgba(255, 76, 5, 0.938);;
    display: block;
    align-items: center;
}
.copywright p{
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
}

/*------custom scrollbar-----*/
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb:hover{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #ffffff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(hsla(17, 100%, 51%), rgb(247, 198, 4));
    border-radius: 5px;
}

h2 {
    color: rgba(49, 44, 44, 0.929);
    font-family: poppins;
    font-size: 18px;
}
